{% extends 'layout.html' %}
{% block sidebar %}
    {% with flashed_message = get_flashed_messages(with_categories=True) %}
        {% if flashed_message %}
            {% for category, message in flashed_messages %}
                <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endblock sidebar %}
{% block content %}
    <div>
        <h1>Анализатор страниц</h1>
        <p>Бесплатно проверяйте сайты на SEO-пригодность</p>
        <form action="{{ url_for('add_url') }}" method="post">
            <input 
                type="url" 
                name="url" 
                value="{{ url if url is defined else '' }}" 
                placeholder="https://example.com" 
                required 
            >
            <button type="submit" value="Search" class="btn btn-primary active" aria-current="page">Проверить</button>
        </form>
    </div>
{% endblock %}