{% extends 'layout.html' %}
{% block sidebar %}
    {% with flashed_message = get_flashed_messages(with_categories=True) %}
        {% if flashed_message %}
            {% for category, message in flashed_messages %}
                <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endblock sidebar %}
{% block content %}
<body class="bg-light">
    <div class="container py-5">
        <div class="p-5 mb-4 bg-white rounded-3 shadow-sm">
            <div class="container py-5 text-center">
                <h1 class="display-5 fw-bold">Анализатор страниц</h1>
                <p class="fs-4">Бесплатно проверяйте сайты на SEO-пригодность</p>
                <form action="{{ url_for('add_url') }}" method="post" class="mt-4">
                    <div class="input-group input-group-lg">
                        <input 
                            type="url" 
                            name="url" 
                            value="{{ url if url is defined else '' }}" 
                            placeholder="https://example.com" 
                            class="form-control" 
                            required
                        >
                        <button type="submit" class="btn btn-primary">Проверить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
{% endblock %}